.schedule-page {
	.title {
		text-align: center;
	}

	.buttons {
		display: flex;
		flex-direction: column;
		padding: 20px;

		.group {
			display: flex;
			align-items: center;
			justify-content: space-around;
		}
	}
}
